:root {
  --first-color: #f2f7ff;
  --second-color: #0b409c;
  --third-color: #10316b;
  --fourth-color: #fdbe34;

  --heading-font-family: "Macondo", cursive;
  --default-font-family: "Nunito", sans-serif;
  --shadow-default: 5px 5px 30px var(--fourth-color);
}

body {
  font-family: var(--default-font-family);
}

h1,
h2 {
  color: var(--third-color);
  font-family: var(--heading-font-family);
  font-weight: 700;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
}

footer {
  font-size: 48px;
  padding: 15px;
}

.social-links a {
  padding: 20px;
  color: var(--third-color);
  opacity: 0.9;
  transition: all 200ms ease-in-out;
}

img {
  box-shadow: 5px 5px 10px var(--second-color);
}

nav ul {
  padding-left: 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  color: var(--third-color);
}

nav a {
  text-decoration: none;
  color: var(--third-color);
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--fourth-color);
}
.active-link {
  color: var(--fourth-color);
}

.hero-name {
  font-size: 20px;
}
.first-view-page {
  padding: 120px 0px;
  text-align: center;
}

.bckgrnd-color {
  background-color: var(--first-color);
  text-align: center;
  border-radius: 4px;
}

.btn-branding {
  border-radius: 4px;
  background-color: var(--second-color);
  color: var(--first-color);
  transition: all 200ms ease-in-out;
}

.btn-branding:hover {
  background-color: var(--fourth-color);
  color: var(--first-color);
}

.btn-start {
  font-size: 18px;
  padding: 18px 30px;
  line-height: 27px;
}

.btn-overline {
  font-size: 16px;
  padding-top: 5px 0;
  width: 80px;
}

.work-buttons {
  text-align: center;
  padding-top: 40px;
}

.learn-more-link {
  font-size: 18px;
  line-height: 27px;
  color: var(--second-color);
  padding: 18px 30px;
  text-decoration: none;
}

.links:hover {
  color: var(--fourth-color);
}

.content {
  padding: 20px 80px;
}

.hero h2,
.about-hero {
  font-size: 24px;
  font-weight: normal;
  font-family: var(--default-font-family);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--second-color);
}

@media (max-width: 768px) {
  .first-view-page {
    padding: 100px 0;
    text-align: center;
  }

  h1 {
    font-size: 60px;
  }

  .hero p {
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 30px;
  }
  .hero-name {
    display: none;
  }

  nav li {
    font-size: 15px;
  }
  footer {
    font-size: 30px;
  }
}
