:root {
  --first-color: #f2f7ff;
  --second-color: #0b409c;
  --third-color: #10316b;
  --fourth-color: #fdbe34;

  --heading-font-family: "Macondo", cursive;
  --default-font-family: "Nunito", sans-serif;
  --shadow-default: 5px 5px 30px var(--fourth-color);
}

body {
  font-family: var(--default-font-family);
}

h1,
h2 {
  color: var(--third-color);
  font-family: var(--heading-font-family);
  font-weight: 700;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
}

footer {
  font-size: 48px;
  padding: 15px;
}

i {
  padding: 20px;
  color: var(--third-color);
  opacity: 0.9;
}

.first-view-page {
  padding: 120px 0px;
}

.bckgrnd-color {
  background-color: var(--first-color);
}

.btn-branding {
  font-size: 18px;
  padding: 18px 30px;
  border-radius: 4px;
  line-height: 27px;
  background-color: var(--second-color);
  color: var(--first-color);
  transition: all 200ms ease-in-out;
}

.btn-branding:hover {
  color: var(--first-color);
  opacity: 0.9;
}
.btn-overline {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80px;
  background-color: var(--fourth-color);
  border-radius: 4px;
  border: 1px solid var(--fourth-color);
  color: var(--second-color);
  transition: all 200ms ease-in-out;
}

.btn-overline:hover {
  color: var(--first-color);
  opacity: 0.9;
}
.work-buttons {
  text-align: center;
  padding-top: 40px;
}

.learn-more-link {
  font-size: 18px;
  line-height: 27px;
  color: var(--second-color);
  padding: 18px 30px;
}

.content {
  padding: 20px 80px;
}

.hero h2,
.about-hero {
  font-size: 24px;
  font-weight: normal;
  font-family: var(--default-font-family);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--second-color);
}

@media (max-width: 576px) {
  .first-view-page {
    padding: 100px 0;
    text-align: center;
  }

  h1 {
    font-size: 60px;
  }

  .hero p {
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 30px;
  }
}
